<h3 class="red-font no-margin-top">Administrative</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/administrative.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      Administrative professionals often need to handle detailed job. Organization always function well and smooth with experienced admin/clerical staffs. They always make sure the office is working well by supporting the executive, manager or business owner. Nowadays, this group of professionals also taking care of customer service, support sales & marketing, and handling customer complaint. Thus some skills that required for administrative and clerical job is crucial to be equipped with.
    </p>

    <u class="category-title">Administration Category</u>
    <ul>
      <li>Administrative Development</li>
      <li>Filling</li>
      <li>Personal Assistance skills</li>
      <li>Secretarial Development</li>
      <li>Customer Service</li>
      <li>Professional Image and Business Etiquette</li>
      <li>English Skills</li>
      <li>Handling Complaint</li>
      <li>Public Relation</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
