<h3 class="red-font no-margin-top">Engineering</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/engineering.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      Our wide range of engineering training designed to help Engineers and Technician to enhance their skills and solving their issues that they face in their workplace. Our engineering programs ranging from Mechanical, Electrical, Civil, Maintenance, Project Management, Instrumentation, and Green Technology.
    </p>

    <u class="category-title">Engineering Category</u>
    <ul>
      <li>Mechanical Engineering</li>
      <li>Electrical Engineering</li>
      <li>Maintenance training</li>
      <li>Equipment</li>
      <li>Asset Management</li>
      <li>Facilities Maintenance</li>
      <li>Environmental Engineering</li>
      <li>Green Technology</li>
      <li>Productivity</li>
      <li>Quality Engineering</li>
      <li>Civil Engineering</li>
      <li>Oil & Gas Engineering</li>
      <li>Project Management</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
