<h3 class="red-font no-margin-top">Finance & Accounting</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/finance-accounting.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      Finance and accounting department playing an important role in an organization. They are able to tell you about the organization financial health, whether the financial of organization is strong or weak and prepare for your company future. Our wide range of finance & accounting related courses will broaden the idea about what accounting & finance professional can do.
    </p>

    <u class="category-title">Finance & Accounting Category</u>
    <ul>
      <li>Accounting skills</li>
      <li>Finance Skills</li>
      <li>Costing </li>
      <li>Budgeting</li>
      <li>Taxation</li>
      <li>Credit Control</li>
      <li>Financial Statement</li>
      <li>Financial Management</li>
      <li>Debt Collection</li>
      <li>Goods and Services Tax</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
