<h3 class="red-font no-margin-top">Human Resources</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/human-resources.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      In order to build a successful organization, Human resources playing an important role. Their job function includes recruitment, performance appraisal, training, employee welfare, retrenchment, TNA, workplace safety, managing disputes, and much more. Our wide range of HR related courses will help your organization to strengthen the HR function and improve their skills.
    </p>

    <u class="category-title">Human Resource Category</u>
    <ul>
      <li>Human Resources Management</li>
      <li>Industrial Relation</li>
      <li>HR capital Development</li>
      <li>Training need analysis</li>
      <li>Interview Skills trainings</li>
      <li>Recruitment Training </li>
      <li>Employee Management</li>
      <li>Performance Management</li>
      <li>Employee Retention</li>
      <li>Talent Management</li>
      <li>Training Development</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
