<h3 class="red-font no-margin-top">Information Technology</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/information-technology.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      With the rapid growth of information technology, IT has become a part of business success.  Benefit of Information technology makes our job get done faster and simple. IT help us in communication, inventory management, data management, customer relationship management and etc.
    </p>

    <u class="category-title">Information Technology Category</u>
    <ul>
      <li>All types of Microsoft Trainings</li>
      <li>AutoCAD</li>
      <li>Adobe Illustrator</li>
      <li>Web Design</li>
      <li>Photoshop</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
