<h3 class="red-font no-margin-top">Logistics</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/logistics.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      “Logistics management is that part of supply chain management that plans, implements, and controls the efficient, effective forward and reverse flow and storage of goods, services and related information between the point of origin and the point of consumption in order to meet customers' requirements.” – (Council of Supply Chain Management). Proper logistics management can Increase revenue, improve operating cost structure, reduce transportation cost, and improve customer service.
    </p>

    <u class="category-title">Logistics Category</u>
    <ul>
      <li>Import</li>
      <li>Export</li>
      <li>Trading</li>
      <li>Logistics</li>
      <li>Shipping</li>
      <li>Purchasing System& Management</li>
      <li>Procurement</li>
      <li>Warehouse Management</li>
      <li>Lean Management</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
