<h3 class="red-font no-margin-top">Management</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/management.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      The success of a business depends on the management teams who lead the employees. A Good management team has to make sure the company direction is on the right track and able to make decision accurately and fast.  Good manager requires its own skills, such as people management, leadership, managerial skills, crisis management, risk management, problem solving and etc. our training will provide the management team especially the managerial level require skills.
    </p>

    <u class="category-title">Management Category</u>
    <ul>
      <li>Leadership</li>
      <li>Supervisory Skills</li>
      <li>Managerial Skills</li>
      <li>Crisis Management</li>
      <li>Risk Management</li>
      <li>People Management</li>
      <li>Problem Solving</li>
      <li>Creative Thinking</li>
      <li>Change Management</li>
      <li>Business Management</li>
      <li>Entrepreneurs</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
