<h3 class="red-font no-margin-top">Occupation Safety and Health</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/occupation.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      Occupational Accidents Statistics 2015 reported by Department of occupational safety and health Malaysia reported that 3009 victims injured due to workplace accident, 122 victim permanent disability and 214 victims death. Let’s us assist you to create a free of hazards workplace, increase man hours and cost saving through a “Zero Accident” approach.
    </p>

    <u class="category-title">Occupation Safety and Health category</u>
    <ul>
      <li>Occupational Safety & Health</li>
      <li>Fire Safety</li>
      <li>Environmental Safety</li>
      <li>Hazardous Analysis</li>
      <li>Legislation in Malaysia for OSHA</li>
      <li>Compliance Strategy in Management related to EHS regulations</li>
      <li>Forklift Safety</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
