<h3 class="red-font no-margin-top">Quality & Productivity</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/quality-productivity.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      In the competitive market, quality and productivity are important, especially for the manufacturing industry to meet the customer demand and stand out from others. We are here to help you to develop an effective production management system to manage production resources, and cost saving and to maximize company profit.
    </p>

    <u class="category-title">Quality & Productivity Category</u>
    <ul>
      <li>5s Implementation</li>
      <li>ISO Training</li>
      <li>Total Productivity Maintenance</li>
      <li>Quality Control</li>
      <li>Total Quality Management</li>
      <li>Continues Improvement </li>
      <li>Poka-Yoke</li>
      <li>Lean Management</li>
      <li>Cost Control</li>
      <li>Statistical Process Control</li>
      <li>Problem Solving</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
