<h3 class="red-font no-margin-top">Sales & Marketing</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/sales-marketing.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      You may have good products and services, however have your sales and marketing expert should also have equipped themselves with great selling and marketing skills to maximize return on investment. It is crucial to the sales and marketers have the latest skill sets, mindset and tools to stand out among your business competitor especially in this challenging environment. Our wide range sales and marketing trainings are ready to help your organization to develop an effective sales or marketers professional through improving their soft skills and technical skills.
    </p>

    <u class="category-title">Sales & Marketing Category</u>
    <ul>
      <li>Sales Skills </li>
      <li>Marketing Skills</li>
      <li>Telemarketing</li>
      <li>Negotiations</li>
      <li>Customer Service</li>
      <li>Customer Relationship</li>
      <li>Consumer Behavior</li>
      <li>Branding</li>
      <li>Product Development</li>
      <li>Public Relationship</li>
      <li>Social Marketing</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
