<h3 class="red-font no-margin-top">Soft Skills</h3>
<br/>

<div class="row">
  <div class="col-sm-12">
    <%= image_tag "programmes/soft-skills.jpg", :style => "width: 100%" %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <p class="justify_text">
      Based on the research, good communication skill is the priority in workplace follow by positive attitude, teamwork and etc. to get your employee perform effectively in the workplace, please allowed us to introduce some of the interesting soft skills training for you.
    </p>

    <u class="category-title">Soft Skills Category</u>
    <ul>
      <li>Communication Skills</li>
      <li>Presentation Skills</li>
      <li>Public Speaking</li>
      <li>Negotiation skills</li>
      <li>Listening Skills</li>
      <li>Language</li>
      <li>Writing Skills</li>
      <li>Self-Development</li>
      <li>Motivation</li>
      <li>Time Management</li>
      <li>Stress Management</li>
      <li>Emotion Intelligence</li>
      <li>Team Work</li>
      <li>Interpersonal Skills</li>
    </ul>

    <%= mail_to "info@jtstrainings.com", "Contact us for more", :target => "_blank", :class => "red-link" %>
  </div>
</div>
