<%= content_for :banner do %>
  <div class="title-banner">
    <div class="container">
      <h5>Home / Programmes / <%= @title %></h5>
    </div>
  </div>
<% end %>
<br/>

<div class="row programmes">

  <div class="col-md-3 col-sm-4 side-bar">
    <ul>
      <% all_programmes.each do |key, value| %>
        <li>
          <%= link_to programmes_path(value), :class => "#{'active' if value == params[:id]}" do  %>
            <div class="row">
              <div class="col-12">

                <div class="float-left">
                  <%= key %>
                </div>

                <div class="float-right">
                  >
                </div>

              </div>
            </div>
          <% end %>
        </li>
      <% end %>

    </ul>
  </div>

  <div class="col-md-9 col-sm-8 content programmes-content">
    <%= render partial: params[:id].underscore %>
  </div>

</div>
