= content_for :banner do
  .title-banner
    .container
      h5 Home / E-learning
br
  h3.red-font E-Learning
  p This is an E-learning portal.

  - @learning_materials.each do |learning_material|
    h4.red-font = learning_material.title
    p = learning_material.description
    = link_to "Download Material", learning_material_path(learning_material), class: "btn red-button btn-sm", target: "_blank"

    hr

  .row
    .col-12
      .justify-content-center
        = will_paginate @learning_materials, renderer: WillPaginate::ActionView::BootstrapLinkRenderer