.mb-3
ul.nav.nav-tabs
  li.nav-item
    = link_to "Home Banners", admin_path, class: "nav-link #{'active' if tab == 'home_banners'}"
  li.nav-item
    = link_to "Users", admin_users_path, class: "nav-link #{'active' if tab == 'users'}"
  li.nav-item
    = link_to "Learning Materials", admin_learning_materials_path, class: "nav-link #{'active' if tab == 'learning_materials'}"
.mb-3