<tr>
  <td><%= banner_image.position %></td>
  <td>
    <div class="image-class">
      <%= image_tag banner_image.image_url, class: 'img-thumbnail' %>
    </div>
  </td>
  <td>
    <%= link_to "<i class='fa fa-arrow-up'></i>".html_safe,
        banner_image_move_up_path(banner_image),
        method: :post %>
    <%= link_to "<i class='fa fa-arrow-down'></i>".html_safe,
        banner_image_move_down_path(banner_image),
        method: :post %>

  </td>
  <td>
    <%= link_to 'Delete', banner_image_path(banner_image), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
  </td>
</tr>
