<%= render partial: "admin/tab", locals: { tab: "home_banners" } %>
<h3>Banner Images</h3>
<hr/>
<div class="pull-right">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
    Upload image
  </button>
</div>
<table class="table banner-image-table">
  <thead>
    <th>Position</th>
    <th>Image</th>
    <th>Action</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <% @banner_images.each do |banner_image| %>
      <%= render partial: 'banner_images/tr_image', locals: { banner_image: banner_image } %>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= s3_uploader_form callback_url: banner_images_url, class: 'form', id: "S3-uploader", callback_param: "attachment[direct_upload_url]", max_file_size: 5000.megabytes do %>

            <%= file_field_tag :file %>
            <script id="template-upload" type="text/x-tmpl">
              <div id="file-{%=o.unique_id%}" class="upload">
                {%=o.name%}
                <div class="progress">
                  <div class="bar" style="width: 0%"></div>
                </div>
              </div>
            </script>

          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
