<%= content_for :banner do %>
  <div class="title-banner">
    <div class="container">
      <h4>Home / About Us</h4>
    </div>
  </div>
<% end %>
<br/>
<div class="about_us">
  <div class="row top-container">

    <div class="row">
      <div class="col-sm-4">
        <%= image_tag "about-us.png", :style => "width: 100%" %>
        <br/>
        <br/>
      </div>

      <div class="col-sm-8 right justify_text">
        <h3 class="red-font">About Us</h3>

        <span>
          Your business needs employees that are able to get the job done, because employee performance is critical to the overall success of the company. 
        </span>
        <br/>
        <br/>
        <span>
          <strong class="red-font">JTS Trainings</strong> is one of the leading training and consultancy companies dedicated to providing quality training to boost a feeling of value in employees. We are confident that we are the only training provider that provides these benefits to your business.
        </span>
        <br/>
        <br/>
        <span>
          Here are the reasons you can depend on <strong class="red-font">JTS Trainings</strong> to keep you and your business up and running:
        </span>
        <br/>

        <span><strong class="red-font">1. Highly Experienced Management Team</strong></span>
        <br/>
        <span>
          You can count on us to understand what your company really needs and why.
        </span>
        <br/>
        <ul>
          <li>To determine which consultants are needed, write the training program, evaluate credentials, and recommend contracting options.</li>
          <li>Find out their expertise in creating and customizing for clients, rather than off-the-shelf programs they simply implement.</li>
        </ul>

        <span><strong class="red-font">2.	Employee Performance Development</strong></span>
        <br/>
        <span>
          Quality experts recommend that businesses train workers at all levels to look for ways to improve the overall workforce productivity. 
        </span>
        <br/>
        <span>
          Purpose of Employee Performance Development are 
        </span>
        <br/>
        <ul>
          <li>Align work with strategic direction.</li>
          <li>Provide continuous learning opportunities.</li>
          <li>Establish learning and development plans.</li>
          <li>Engage in leadership development and succession planning.</li>
          <li>Provide meaningful review and feedback. </li>
        </ul>

        <span><strong class="red-font">3.	Flipped Classroom Approach</strong></span>
        <br/>
        <span>
          Flipped learning is a pedagogical approach, employees acquire knowledge before the training. They practice and apply concepts and ideas through interaction with peers and trainer. After the training, employees reflect upon the feedback they have received and use this to further their learning.
        </span>
        <br/>
        <span>
          Flipped Classroom Advantages 
        </span>
        <br/>
        <ul>
          <li>Allow for self-paced learning.</li>
          <li>Dive deeper into subject.</li>
          <li>Track the progress of employees and find patterns in their results.</li>
        </ul>

      </div>
    </div>

  </div>

  <div class="row bottom-container">
    <div class="col-sm-12 justify_text">
      <p>Our clients, like our people are our most treasured assets. We nurture every client relationship with commitment, passion and integrity.</p>
      <h6 class="red-font">Vision</h6>   
      <p>
        "Provide Effective Performance Improvement Training to build a skilled and competent workforce."
      </p>

      <h6 class="red-font">Mission</h6>
      <span>To equip with latest specialized knowledge and develop professional skills to excel in your career. </span>
      <br/>
      <span>To motivate and inspire people to change their life to attain success. </span>
      <br/>
      <br/>

      <h6 class="red-font">Objective</h6>
      <ul>
        <li>
          Build lifelong learning skills to improve self-confidence, develop positive thinking and constantly updating your knowledge. 
        </li>
        <li>
          The only trustable one-stop Business Development Centre that specialises in Culture Transformation and developing a Positive Attitude in the workplace to achieve superior performance.
        </li>
      </ul>

    </div>      
  </div>

  <br/>
  <br/>
  <br/>
  <div class="row">
    <div class="col-12">
      <center>
        <p><strong>We are HRDF certified:</strong></p>
        <%= image_tag "HRDF.png", :style => "width: 250px;" %>
      </center>
    </div>
  </div>

</div>
