<%= content_for :banner do %>
  <div class="title-banner">
    <div class="container">
      <h5>Home / Contact</h5>
    </div>
  </div>

  <div id="contactMap">

  </div>

  <script>
  function initialize() {
    var myLatlng = new google.maps.LatLng(3.1071759,101.5987406);
    var mapProp = {
      center: myLatlng,
      zoom:18,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("contactMap"), mapProp);

    var marker = new google.maps.Marker({
      position: myLatlng,
      title:"JTS Trainings"
    });
    marker.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>

<% end %>
<br/>
<div class="row contact_us">
  <div class="row top-container">
      <div class="col-sm-8">
        <h4 class="red-font">Get in touch</h4>
        <br/>
        <p>
        </p>

        <% @contact = Contact.new %>
        <%= form_for @contact, :html => {:class => "contact-form"}, :remote => true do |f| %>

          <div class="row">

            <div class="col-sm-12">
              <div class="form-group">
                <%= f.label :name, "Name", :class => "control-label" %>
                <%= f.text_field :name, :placeholder => "Name", :class => "form-control input-sm", :required => true %>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-sm-12">
              <div class="form-group">
                <%= f.label :company_name, "Company", :class => "control-label" %>
                <%= f.text_field :company_name, :placeholder => "Company Name", :class => "form-control input-sm", :required => true %>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :email, "Email", :class => "control-label" %>
                <%= f.email_field :email, :placeholder => "Email", :class => "form-control input-sm", :required => true %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :contact, "Contact", :class => "control-label" %>
                <%= f.text_field :contact, :placeholder => "Contact", :class => "form-control input-sm", :required => true %>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <%= f.label :message, "Message", :class => "control-label" %>
                <%= f.text_area :message, :placeholder => "Message", :class => "form-control input-sm", :required => true, :rows => 10 %>
              </div>
            </div>
          </div>
          <%= recaptcha_tags %>

          <br/>
          <div class="pull-right">
            <%= f.submit "Send", :class => "btn btn-primary red-button" %>
          </div>
          <br/>
          <br/>

        <% end %>

      </div>

      <div class="col-sm-4">
        <h4 class="red-font">Contact detail</h4>
        <br/>
        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-phone red-font"></i>
          </div>

          <div class="col-10">
            +60374993365
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-envelope-o red-font"></i>
          </div>

          <div class="col-10">
            <%= mail_to "info@jtstrainings.com", "info@jtstrainings.com", :class => "black-link", :target => "_blank" %>
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-globe red-font"></i>
          </div>

          <div class="col-10">
            <%= link_to "www.jtstrainings.com", "http://www.jtstrainings.com", :class => "black-link", :target => "_blank" %>
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-facebook red-font"></i>
          </div>

          <div class="col-10">
            <%= link_to "facebook.com/jtstrainings", "https://www.facebook.com/jtstrainings/", :class => "black-link", :target => "_blank" %>
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-map red-font"></i>
          </div>

          <div class="col-10">
            No. 288 (Room 1),
            Jalan Bahagia SS6, Kelana Jaya,
            47301 Petaling Jaya, Selangor.
          </div>
        </div>

      </div>

  </div>
</div>
