<%= content_for :banner do %>
  <% banner_images = @banner_images %>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% banner_images.each_with_index do |image, index| %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% banner_images.each_with_index do |image, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= image_tag "#{image}", :width=>"100%" %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
<% end %>

<div class="main_content justify_text">
  <div class="mb-3"></div>
  <center><h4 class="red-font">About us</h4></center>

  <p>
    JTS Trainings has a dynamic and creative team that can help you in provide the right training solutions. We had experience in conducting thousands of training courses and have hundreds of business partners in Malaysia.
  </p>

  <center>
    <p><strong>We are HRDF certified:</strong></p>
    <%= image_tag "HRDF.png", :style => "width: 250px;" %>
  </center>

  <br/>
  <%= link_to "Click here to see more >>", about_us_path, :class => "red-font" %>
  <br/>

</div>

<div class="divider">
  <hr/>
</div>

<div class="main_content">
  <div class="mb-4"></div>
  <center><h4 class="red-font">Our services</h4></center>

  <div class="row programme-content">
    <div class="col-sm-6 programme-item">
      <%= image_tag "services/publicCourses.png" %>
      <p class="red-font programme-title">Public Courses</p>
      <p class="programme-text">
        Public training generally open to all the individual or organizations to attend.
      </p>
      <br/>
    </div>

    <div class="col-sm-6 programme-item">
      <%= image_tag "services/inhouse.png" %>
      <p class="red-font programme-title">In-House</p>
      <p class="programme-text">
        In-house training is always the best choice to train a group of participants within the organization.
      </p>
      <br/>
    </div>

    <div class="col-sm-6 programme-item">
      <%= image_tag "services/teamBuilding.png" %>
      <p class="red-font programme-title">Team Building</p>
      <p class="programme-text">
        Teambuilding is the best choice to group all employees from different departments and level and work as a team.
      </p>
      <br/>
    </div>

    <div class="col-sm-6 programme-item">
      <%= image_tag "services/consultancy.png" %>
      <p class="red-font programme-title">Consultancy</p>
      <p class="programme-text">
        Consultancy is a complex and long-term process whereby we have to understand in-depth about your business and issue.
      </p>
      <br/>
    </div>
  </div>

</div>
