<%= content_for :banner do %>
  <div class="title-banner">
    <div class="container">
      <h5>Home / Schedule</h5>
    </div>
  </div>
<% end %>
<br/>
<div class="row">
  <div class="col-12 top-container">
    <h3 class="red-font">Schedule</h3>
    <iframe src="https://calendar.google.com/calendar/embed?src=infojtstrainings%40gmail.com&ctz=Asia/Kuala_Lumpur" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>