<%= content_for :banner do %>
  <div class="title-banner">
    <div class="container">
      <h5>Home / Services</h5>
    </div>
  </div>
<% end %>
<br/>
<div class="row about_us">
  <div class="col-sm-4">
    <%= image_tag "services.png", :style => "width: 100%" %>
    <br/>
    <br/>
  </div>

  <div class="col-sm-8">
    <h3 class="red-font">Services</h3>

    <p class="justify_text">
      Services that we provided included Public courses, In-House Trainings, Consulting, Teambuilding, Event Management, etc. Our aim is to impart knowledge and skills to the employees to enhance their professional skills and working efficiency.
    </p>

    <p class="justify_text">
      We have more than hundreds of facilitator from local and oversea. Our facilitators are from different industry with years of experience. They sharing their experience, knowledge and skills to help the organization and their employees to be more competence.
    </p>
  </div>
</div>
<hr/>
<div class="main_content">
  <div class="row programme-content">
    <div class="col-sm-12 services-text-left">
      <h4 class="red-font">Our Expertise</h4>
      <p class="justify_text">
        <strong class="red-font">JTS Trainings</strong> has been a purpose-driven company. We are committed to delivering consistent client satisfaction, providing Performance-based Training and Human Capital Development. 
      </p>
    </div>
  </div>

  <div class="row programme-content">
    <div class="col-sm-12 services-text-left">
      <h4 class="red-font">Public Courses</h4>
      <p class="justify_text">
        Public training courses are available to employees from any organization, and are perfect for sharing, get fresh ideas, interconnected business contacts and gain a different perspective. There are plenty of choices to meet your expectations.
      </p>
    </div>
  </div>

  <div class="row programme-content">
    <div class="col-sm-12 services-text-left">
      <h4 class="red-font">In-House</h4>
      <p class="justify_text">
        In-house training is tailored to provide innovative value-added training, a more customised fit-for-purpose learning solution that focuses on the particular requirements of your organisation. In an in-house setting, the staff also gain a greater understanding of the role each person plays in the organization.
      </p>
    </div>
  </div>

  <div class="row programme-content">
    <div class="col-sm-12 services-text-left">
      <h4 class="red-font">Team Building</h4>
      <p class="justify_text">
        Teams that bond together, succeed together. <strong class="red-font">Team Building</strong> brings people together by encouraging collaboration and teamwork. 
      </p>

      <p class="justify_text">
        Our adventurous <strong class="red-font">Team Building</strong> activities proven and focus on how organizational culture is one of the top factors tied to employee happiness. The <strong class="red-font">Team Building</strong> Activities are Battle of the Airbands, Potluck, Water Balloon Toss, Scavenger Hunt, Human Knot, Show-and-tell, Egg drop and Two Truths, One Lie.
      </p>

      <p class="justify_text">
        Our team of experienced and qualified facilitators are passionate and committed to generating value.  Our range of leadership competencies assessments and well-researched training materials enable for better communication, better relationships and ultimately increases productivity.
      </p>
    </div>
  </div>

  <div class="row programme-content">
    <div class="col-sm-12 services-text-left">
      <h4 class="red-font">Consultancy / Coaching Services</h4>
      <p class="justify_text">
        Our consultants, industry-specific specialists who may have a higher level of business expertise and can provide unique solutions for different types of industry. They display professionalism. They are accommodating to your schedule and can adjust their working style to meet the culture of your organisation.
      </p>

      <p class="justify_text">
        Our Coaching process empowers and encourages employees to take responsibility. It helps to identify both organizational and individual strengths and development opportunities.
      </p>
    </div>
  </div>

  <div class="row programme-content">
    <div class="col-sm-12 services-text-left">
      <h4 class="red-font">Mystery Shopper/ Business Evaluation Services</h4>
      <p class="justify_text">
        <strong class="red-font">Mystery Shopping</strong> is an effective method to gather feedback on how the company is perceived from a customer's perspective. Motivation of employees to always be professional to the maximum with every customer because you never know when you’re dealing with a mystery shopper.
      </p>

      <p class="justify_text">
        <strong class="red-font">Mystery Shopping</strong> develops a habit of Proactive Customer Service. The Sales staff could be of more help to the customer, know how to respond to the customer complaints, aware of their competitors, suitable sales technique and have sufficient knowledge of the products and services. 
      </p>
    </div>
  </div>

  <div class="row programme-content">
    <div class="col-sm-12 services-text-left">
      <h4 class="red-font">E-learning</h4>
      <p class="justify_text">
        <strong class="red-font">E-learning Materials</strong> are stored online, so employees can access important resources any time they encounter a question or difficult situation. E-learning helps companies create a higher quality, more effective training experience for employees, at a more affordable cost.
      </p>

      <p class="justify_text">
        <strong class="red-font">JTS Trainings</strong> is specialized in designing and developing effective e-learning programme. We know your subject material well, take every learning style into consideration, ensure that user receives the help, well organized, what will be done, when it will be done and what is needed for the successful completion of tasks.
      </p>
      <br/>
      <center><%= image_tag "jts-logo.png", :style => "width: 450px;" %></center>
      <center><strong>"Get Trained to Succeed"</strong></center>
      <center><strong>The Only Trustable One-stop Business Development Centre</strong></center>
    </div>    
  </div>
</div>
