<% if @status == false %>
  alert("Please complete the contact form!")
<% else %>
  alert("Thank you for your interest. We will contact you shortly")
  $(".contact-form").find("input[type=text], input[type=email], textarea").val("")
<% end %>
