= form_for [:admin, @learning_material] do |f|
  .form-group
    = f.label :title, "Title", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :title, class: "form-control", placeholder: "Title", required: true

  .form-group
    = f.label :description, "Description", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :description, class: "form-control", placeholder: "Description", required: true

  .form-group
    = f.label :attachment_url, "Attachment Url", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :attachment_url, class: "form-control attachment-url", placeholder: "Attachment url", required: true  
      .mb-2
      button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadModal"
        Upload Attachment

  .mb-3

  form-group
    .col-sm-2.col-sm-offset-2
      = link_to "Cancel", admin_learning_materials_path, class: "btn btn-white"
      = f.submit "Submit", class: "btn btn-primary"

#uploadModal.modal.fade aria-hidden="true" aria-labelledby="exampleModalLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Upload image
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  &times;
      .modal-body
        = s3_uploader_form callback_url: s3_upload_admin_learning_materials_url, class: 'form', id: "S3-uploader", callback_param: "attachment[direct_upload_url]", max_file_size: 5000.megabytes do
        
          = file_field_tag :file 
          script#template-upload type="text/x-tmpl" 
            | <div id="file-{%=o.unique_id%}" class="upload"
            | {%=o.name%}
            | <div class="progress"
            | <div class="bar" style="width: 0%"></div
            | </div
            | </div
      .modal-footer
        button.btn.btn-default data-dismiss="modal" type="button"  Cancel
