= render partial: "admin/tab", locals: { tab: "learning_materials" }
.row
  .col-12
    .float-left
      h5 = "#{@learning_material.title}'s download logs"
hr/

table.table
  thead
    tr
      th User
      th Downloaded At

  tbody
    - @logs.each do |log|
      tr
        td = log&.user&.email
        td = log.created_at.in_time_zone

.row
  .col-12
    .justify-content-center
      = will_paginate @logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer