= render partial: "admin/tab", locals: { tab: "learning_materials" }
.row
  .col-12
    .float-left
      h5 Leaning Materials
    .float-right
      = link_to "Create Learning Materials", new_admin_learning_material_path, class: "btn btn-primary btn-sm"

hr/
.table-responsive
  table.table.ajax-datatable data-source="#{admin_learning_materials_path(format: :json)}"
    thead
      tr
        th #
        th Title
        th Action
    tbody
