// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main_content {
  text-align: center;
  p {
    padding-top: 15px;
  }
  padding-top: 10px;
  padding-bottom: 15px;
}

.divider{

}

.programme-content{
  padding-bottom: 25px;
  padding-top: 15px;

  .programme-item{
    text-align: center;

    .programme-title{
      font-size: 16px;
    }

    .programme-text{
      padding-top: 0px;
    }

    img{
      max-width: 70px
    }
  }
}

.title-banner {
  background: #3B393E;
  color: white;
  padding: 10px 0px;
}

// about page
.about_us{
  .red-font{
    h3{
      margin-top: 0px;
    }
  }

  .top-container{
    padding-bottom: 25px;

    .right{
      .red-font{
        margin-top: 0px;
      }
    }
  }

  .bottom-container{

    ul {
      padding-left: 15px;

      li {
        padding-bottom: 10px;
      }
    }

    .left{
      @media (min-width: 768px) {
        border-right: 1px solid #C0C0C0;
      }
      padding-bottom: 15px;
    }

    .about-point {
      line-height: 0px;
      margin-bottom: 0px;
    }

    .col-sm-1{
      width: 15px;
    }

    .right{
      .link {
        color: black;
        text-decoration: underline;
      }

      .link:hover {
        color: #95303C;
      }
    }
  }

}

// services
.services-text-left {
  text-align: left;
  .red-font {
    margin-bottom: 0;
    line-height: 0;
  }
}

.services-text-right {
  text-align: left;
  .red-font {
    margin-bottom: 0;
    line-height: 0;
  }
}

// contact page
#contactMap{
  width: 100%;
  height: 380px;
}
