// Place all the styles related to the programmes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.programmes{
  font-size: 17px;
  .side-bar{

    ul{
      padding-left: 0px;
      list-style: none;
      padding-right: 10px;
      padding-bottom: 100px;

      li {
        height: 40px;
        border-bottom: 1px solid #C0C0C0;
        line-height: 40px;
        a {
          color: black;
          display: block;
        }

        a.active {
          .row {
            background: #95303C !important;
          }
          color: white !important;
          display: block;          
        }

        a:hover {
          color: #95303C;
        }
      }


    }
  }

  .content {
    @media (min-width: 768px) {
      border-left: 1px solid #C0C0C0;
      padding-bottom: 100px;
    }
  }

  .programmes-content{
    .category-title{

    }
  }



}
