.image-class {
  max-width: 500px;
}

.navbar-default {
  background: white;

  li.active {
    border-bottom: 4px solid #95303C;
    a {
      background: white !important;
    }
  }

  li{
    a {
      color: #95303C !important;
    }

    ul.dropdown-menu {
      border-top: 5px solid #95303C;
    }
  }

  li.open {
    a {
      background: white !important;
    }
  }

  .navbar-logo,.navbar-logo:hover{
    img{
      max-width: 70px;
    }
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
}

.form-control {
  border-radius: 0px;
}

.no-margin-top{
  margin-top: 0px;
}

.red-font {
  color: #95303C !important;
}

.red-button {
  background: #95303C !important;
  color: white;
  border-color: #95303C !important;
  border-radius: 0px;
}

.white-link {
  color: white !important;
}

.black-link {
  color: black !important;
}

.red-link {
  color: #95303C !important;
}

.footer {
  background: #3B393E;
  color: white;
  padding: 30px 0px;
  margin-top: 80px;

  .title {
    font-size: 17px;
  }

  .contact-detail {
    margin-bottom: 8px;
  }

  #googleMap {
    width: 100%;
    height: 200px;
  }

  .new_contact{
    .control-label {
      padding-left: 0px;
    }

    .form-group {
      padding-bottom: 28px !important;
    }
  }

}

.justify_text{
  text-align: justify;
  text-justify: inter-word;
}

