= form_for [:admin, @user] do |f|
  .form-group
    = f.label :email, "Email", class: "col-sm-2 control-label"
    .col-sm-10
      = f.email_field :email, class: "form-control", placeholder: "Email", required: true
  
  .form-group
    = f.label :password, "Password", class: "col-sm-2 control-label"
    .col-sm-10
      = f.password_field :password, class: "form-control", placeholder: "Password"
  
  .form-group
    = f.label :password_confirmation, "Password Confirmation", class: "col-sm-2 control-label"
    .col-sm-10
      = f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"

  .form-group
    = f.label :role, "Role", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :role, options_for_select(["user", "admin"], @user.role), {}, class: "form-control", required: true
  
  
  form-group
    .col-sm-2.col-sm-offset-2
      = link_to "Cancel", admin_users_path, class: "btn btn-white"
      = f.submit "Submit", class: "btn btn-primary"
    