= render partial: "admin/tab", locals: { tab: "users" }
.row
  .col-12
    .float-left
      h5 Users
    .float-right
      = link_to "Create User", new_admin_user_path, class: "btn btn-primary btn-sm"

hr/
.table-responsive
  table.table
    thead
      tr
        th #
        th Email
        th Name
        th Role
        th Action
    tbody
      - @users.each do |user|
        tr 
          td = user.id
          td = user.email
          td = user.email
          td = user.role
          td 
            = link_to "Edit", edit_admin_user_path(user), class: "btn btn-primary btn-sm mr-2"
            = link_to "Sign in logs", sign_in_logs_admin_user_path(user), class: "btn btn-warning btn-sm"
  