= render partial: "admin/tab", locals: { tab: "users" }
.row
  .col-12
    .float-left
      h5 = "#{@user.email}'s signed in logs"
hr/

table.table
  thead
    tr
      th Sign in Time

  tbody
    - @sign_in_logs.each do |sign_in_log|
      tr
        td = sign_in_log.created_at.in_time_zone

.row
  .col-12
    .justify-content-center
      = will_paginate @sign_in_logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer