<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div id="googleMap"></div>
        <br/>
        <br/>
      </div>

      <div class="col-md-4">
        <p class="title">Get in touch</p>
        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-phone red-font"></i>
          </div>

          <div class="col-10">
            +60374993365
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-envelope-o red-font"></i>
          </div>

          <div class="col-10">
            <%= mail_to "info@jtstrainings.com", "info@jtstrainings.com", :class => "white-link", :target => "_blank" %>
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-globe red-font"></i>
          </div>

          <div class="col-10">
            <%= link_to "www.jtstrainings.com", "www.jtstrainings.com", :class => "white-link" %>
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-facebook red-font"></i>
          </div>

          <div class="col-10">
            <%= link_to "facebook.com/jtstrainings", "https://www.facebook.com/jtstrainings/", :class => "white-link", :target => "_blank" %>
          </div>
        </div>

        <div class="row contact-detail">
          <div class="col-1">
            <i class="fa fa-map red-font"></i>
          </div>

          <div class="col-10">
            No. 288 (Room 1),
            Jalan Bahagia SS6, Kelana Jaya,
            47301 Petaling Jaya, Selangor.
          </div>
        </div>

        <br/>
        <br/>

      </div>

      <div class="col-md-5">
        <p class="title">Enquiry</p>

        <% @contact = Contact.new %>
        <div class="row">
          <div class="col-md-12">
            <%= form_for @contact, :html => {:class => "contact-form row"}, :remote => true do |f| %>
              
              <%= f.label :name, "Name", :class => "col-md-3" %>
              <div class="col-sm-9">
                <%= f.text_field :name, :placeholder => "Name", :class => "form-control mr-sm-2", :required => true %>
                <div class="mb-3"></div>
              </div>

              
              <%= f.label :company_name, "Company", :class => "col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.text_field :company_name, :placeholder => "Company Name", :class => "form-control mr-sm-2", :required => true %>
                  <div class="mb-3"></div>
                </div>
                

              
              <%= f.label :email, "Email", :class => "col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.email_field :email, :placeholder => "Email", :class => "form-control mr-sm-2", :required => true %>
                  <div class="mb-3"></div>
                </div>
                

              
              <%= f.label :contact, "Contact", :class => "col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.text_field :contact, :placeholder => "Contact", :class => "form-control mr-sm-2", :required => true %>
                  <div class="mb-3"></div>
                </div>
                

              
              <%= f.label :message, "Message", :class => "col-sm-3" %>
                <div class="col-sm-9">
                  <%= f.text_area :message, :placeholder => "Message", :class => "form-control mr-sm-2", :required => true %>
                  <div class="mb-3"></div>
                </div>
                
              <%= recaptcha_tags %>

              <br/>
              <div class="col-sm-12">
                <div class="pull-right">
                  <%= f.submit "Send", :class => "btn btn-primary red-button" %>
                </div>
              </div>
              <br/>
              <br/>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  function initialize() {
    var myLatlng = new google.maps.LatLng(3.1071759,101.5987406);
    var mapProp = {
      center: myLatlng,
      zoom:17,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

    var marker = new google.maps.Marker({
      position: myLatlng,
      title:"JTS Trainings"
    });
    marker.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>
