nav.navbar.navbar-expand-lg.navbar-header
  .container
    button.navbar-toggler aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarTogglerDemo03" data-toggle="collapse" type="button" 
      span.navbar-toggler-icon
    = link_to root_path, class: "navbar-brand navbar-logo" do 
      = image_tag "header_logo.png"
      span JTS TRAININGS SDN BHD
    #navbarTogglerDemo03.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.mt-2.mt-lg-0
        li.nav-item class="#{'active' if (params[:controller] == 'pages' and params[:action] == 'home') }"
          = link_to "HOME", root_path
        
        li.nav-item class="#{'active' if (params[:controller] == 'pages' and params[:action] == 'about_us') }"
          = link_to "ABOUT US", about_us_path

        li.nav-item class="#{'active' if (params[:controller] == 'pages' and params[:action] == 'services') }"
          = link_to "SERVICES", services_path 

        li.nav-item class="#{'active' if (params[:controller] == 'learning_materials') }"
          = link_to "E-LEARNING", learning_materials_path 
        
        li.nav-item.dropdown class="#{'active' if (params[:controller] == 'programmes') }"
          a#navbarDropdown.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
            | PROGRAMME
          .dropdown-menu aria-labelledby="navbarDropdown" 
            - all_programmes.each do |key, value|
              = link_to key, programmes_path(value), class: "dropdown-item"
        
        li.nav-item class="#{'active' if (params[:controller] == 'pages' and params[:action] == 'schedule') }"
          = link_to "SCHEDULE", schedule_path 

        li.nav-item class="#{'active' if (params[:controller] == 'pages' and params[:action] == 'contact') }"
          = link_to "CONTACT", contact_path 

        - if user_signed_in?
          li.nav-item.dropdown
            a#userDropdown.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
              i.fa.fa-user
            .dropdown-menu.dropdown-menu-right aria-labelledby="userDropdown" 
              - if current_user.role == "admin"
                = link_to 'Banner images', banner_images_path, class: "dropdown-item"
                = link_to 'Manage users', admin_users_path, class: "dropdown-item"
                = link_to 'Manage learning materials', admin_learning_materials_path, class: "dropdown-item"
              = link_to 'Logout', destroy_user_session_path, method: 'delete', class: "dropdown-item"
