<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.5">

  <meta name="title" content="JTS Trainings" >
  <meta name="description" content="JTS Trainings has a dynamic and creative team that can help you in provide the right training solutions. We had experience in conducting thousands of training courses and have hundreds of business partners in Malaysia.">
  <meta name="keywords" content="jts trainings, training company, team building">

  <title>JTS Trainings</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDirlvVXAxiLosOZ1C8dN4lsdLlDdO5ZLI&callback=initMap" async defer></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129442180-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129442180-1');
  </script>

</head>
<body>
  <%= render "layouts/header" %>
  <div class="body-content">
    <%= yield :banner %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
